[submodule "rhlib"]
	path = rhlib
	url = git@github.com:evanx/rhlib.git
[submodule "rquery"]
	path = rquery
	url = git@github.com:evanx/rquery.git
[submodule "redis-scan-bash"]
	path = redis-scan-bash
	url = git@github.com:evanx/redis-scan-bash.git
